<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/93ec1e4f61.css" crossorigin="anonymous">
</head>
<body>
    {% include "download-sample-form.html" %}

    {% load static %}
    <script src="https://kit.fontawesome.com/93ec1e4f61.js" crossorigin="anonymous"></script>
    <script src="{% static 'submit-download-sample.js' %}"></script>
</body>
</html>